
{% extends 'user/userbase.html' %}
{% block content %}


<div class="bs-docs-example">
    <table class="table">
        <thead>
            <tr>
                <th>Company</th>
                <th>Faq</th>
                <th>Answer</th>
                
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>
                    {{i.1}}
                </td>
                <td>
                    {{i.2}}
                </td>
                <td>
                    {{i.3}}
                </td>
               


               
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>





{% endblock %}