
{% extends 'sc/scbase.html' %}
{% block content %}


<div class="bs-docs-example">
    <table class="table">
        <thead>
            <tr>
                
                <th> Messenger</th>
                <th>Message</th>
                
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>
                    {{i.2}}
                </td>


                <td>
                    {{i.1}}
                </td>

                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>





{% endblock %}